replicaCount: 1

image:
  registry: docker.io
  repository: bansikah/tiny-test
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podLabels: {}

resources:
  requests:
    memory: "16Mi"
    cpu: "10m"
  limits:
    memory: "32Mi"
    cpu: "50m"

nodeSelector: {}

tolerations: []

affinity: {}

service:
  type: ClusterIP
  port: 80

container:
  port: 8080
  env: []
  livenessProbe:
    httpGet:
      path: /
      port: 8080
    initialDelaySeconds: 5
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /
      port: 8080
    initialDelaySeconds: 5
    periodSeconds: 10

ingress:
  enabled: false
  className: nginx # or gateway-api
  annotations: {}
  # Example hosts configuration:
  # hosts:
  #   - host: tiny-test.example.com
  #     paths:
  #       - path: /
  #         # For Ingress use "Prefix"; for Gateway API HTTPRoute use "PathPrefix"
  #         pathType: Prefix
  tls: []
